* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242333;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  border-width: 0;
  overflow: hidden;
}

select {
  border: none;
  outline: none;
  margin-left: 10px;
  height: 26px;
  position: relative;
}

.container-content {
  margin-top: 10px;
  user-select: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.legend-list {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-top: 25px;
  border-radius: 5px;
  color: #777;
}
.legend-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

.describing-text {
  font-size: 16px;
  color: gray;
}

.monitor {
  width: 400px;
  height: 200px;
  background-color: #fff;
  transform: rotateX(47deg);
  box-shadow: 0 1px 81px rgba(255, 255, 255, 0.7);
  opacity: 0.8;
}

.legend-list .seat-row__seat,
.seat-row__seat-taken .seat-row__seat-occupied {
  transform: scale(1);
}

.legend-list .seat {
  cursor: default;
  pointer-events: none;
}

.seat-row {
  display: flex;
  margin-top: 10px;
}
.seat-row__seat {
  margin-left: 4px;
  width: 20px;
  height: 18px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}
.seat-row .seat-row__seat:hover {
  transform: scale(1.5);
  border: 2px solid #242533;
  opacity: 0.9;
  cursor: pointer;
}
.seat-row__seat-taken {
  margin-left: 4px;
  width: 20px;
  height: 18px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: lightseagreen;
}
.seat-row__seat-occupied {
  margin-left: 4px;
  width: 20px;
  height: 18px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: slategray;
}
.seat-row__seat:nth-last-of-type(3), .seat-row__seat-taken:nth-last-of-type(3), .seat-row__seat:nth-of-type(4), .seat-row__seat-taken:nth-of-type(4), .seat-row__seat-occupied:nth-last-of-type(3), .seat-row__seat-occupied:nth-of-type(4) {
  margin-left: 20px;
}

.message {
  font-size: 15px;
  margin-top: 15px;
  user-select: none;
}